
body{
    background-image: url(/image/pexels-julia-larson-6113410.jpg
    );
    background-size: cover;
    
}

.top {
background-color: antiquewhite;
font-family: 'Potta One', cursive;
text-shadow: #2391d1 10px -10px 3px; 
text-transform: uppercase;
font-size: 40px;
text-align: center;

}
 .contact{
     background-color:cornflowerblue;
     width: 100px;
     margin: auto;
     text-align: center;

 }
main {
     justify-content: center;
     background-color: cornsilk;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
 h2{
       text-align: center;

 }


@media (max-width: 500px) {
body {
    background-image: url(/image/pexels-martin-péchy-1255149.jpg);
    font-family: fantasy;
}


.top {
    display: none;
  
}
.div2 {
    width: 100%;
    display: block;
    font-family: fantasy;
}
header, footer {
    border-width: 0;
    border: 2px solid pink;
}
}
