body {
    margin: 0;
}

.container {background-color: gray;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: blue;
}

main {
    background-color: green;
    flex-grow: 1;
    display: flex;
    overflow: auto;
}

footer {
    background-color: rgb(99, 0, 0);
    /* flex-shrink: 0; */
}

article {
    text-align: justify;
    background-color: darkblue;
    color: whitesmoke;
    padding: 0 1em 0 1em;
}