body {
  background-color: rgb(173, 247, 173);
}

.header {
  height: 30vh;
  width: 100vw;
}
.header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bigheading {
  margin-left: 30%;
}
#hr_line {
  border-top: 1px solid rgb(216, 29, 29);
}
.whatzit {
  margin-left: 30%;
  color: salmon;
}
.terrace {
  border-right: solid 1px blue;
  width: 50%;
  float: left;
}
.universal {
  width: 48%;
  float: right;
}

.multilevel {
  color: royalblue;
  width: 370px;
  margin-top: 400px;
  margin-left: 30%;
  text-align: center;
  text-underline-position: below;
}
.perspective {
  border-right: blue solid 1px;
  width: 50%;
  float: left;
}
.point_place {
  width: 48%;
  float: right;
}
.more_info {
  border-top: solid tomato 2px;
  margin-top: 300px;
}
#husen {
  float: left;
  padding-right: 8px;
}

#stopelstein {
  width: 480px;
  height: 340px;
  margin-left: 400px;
}
#image {
  width: 1200px;
  height: 500px;
  object-fit: cover;
}
/* insert @media query here for responsiveness*/

@media (max-width: 800px) {
  body {
    background: rgb(172, 180, 219);
  }

  .header {
    height: 30vh;
    width: 100vw;
  }
  .header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .bigheading {
    width: 100%;
    display: block;
    color: blueviolet;
    text-align: left;
    margin-left: 0;
  }
  #hr_line {
    border: 0;
    width: 0;
  }
  .whatzit {
    display: block;
    color: salmon;
  }
  .terrace {
    border-right: solid 0px blue;
    width: 100%;
    display: block;
  }
  .universal {
    width: 100%;
    display: block;
  }

  .multilevel {
    color: rgb(33, 87, 66);
    width: 100%;
    display: block;
    text-align: left;
    text-underline-position: below;
    font-weight: bolder;
  }
  .perspective {
    border-right: 0px;
    width: 100%;
    display: block;
  }
  .point_place {
    width: 100%;
    display: block;
  }
  .more_info {
    width: 100%;
    border-top: solid tomato 0px;
    display: block;
    margin-left: 0;
  }
  #husen {
    display: block;
    padding-right: 8px;
    width: 100%;
  }

  #stopelstein {
    width: 100vw;
    height: 20%;
    display: block;
    margin-left: 0;
  }
  #image {
    width: 100%;
    height: 20%;
    object-fit: cover;
    display: block;
    margin-left: 0px;
  }
}
/*@media query end here */
