h1 {
    font-family: 'Yusei Magic', sans-serif;
    margin: auto;
    width: 50%;
    border: 3px solid rgb(20, 0, 51);
    padding: 10px;
    background-color: aqua;
    text-align: center;
}

h2 {
    font-family: 'Yusei Magic', sans-serif;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-decoration: underline overline;
    text-align: center;
}

#wrapper {
    width: 100%;
    overflow: hidden;
}

#first {
    font-family: 'Yusei Magic', sans-serif;
    width: 45%;
    float: left;
    padding-right: 5%;


}

#second {
    overflow: hidden;
    font-family: 'Yusei Magic', sans-serif;
    width: 45%;
    padding-left: 5%;
}

#main_content {
    font-family: 'Yusei Magic', sans-serif;
}

html {
    background-color: rgb(233, 233, 233);
}

h3 {
    text-decoration: underline;
}

.extra_info {
    border: 1px solid rgb(0, 0, 0);
}



@media (max-width:1000px){
        html {
            background-color: aquamarine;
        }
        #wrapper{
            
            font-weight: bold;
            font-size: 30px;
        }
        hr{
            border: 1px solid black
        }

        a{
            border:black solid 2px;
            background-color: lightgrey;
            padding: 5px 10px 5px 10px;
        }
}

@media (max-width:500px){
    html {
        background-color: magenta;
    }
    #wrapper{
        
        font-weight: bold;
        font-size: 10px;
    }
    hr{
        border: 1px solid black
    }

    a{
        border:black solid 2px;
        background-color: lightgrey;
        padding: 5px 10px 5px 10px;
    }
    #main_content{
        font-size: 10px;
    }
    h1{
        font-size: 20px;
    }
}
